[submodule "myratingbud-backend"]
	path = myratingbud-backend
	url = git@github.com:dragosnicolae5555/myratingbud_backend.git
[submodule "myratingbud-frontend"]
	path = myratingbud-frontend
	url = git@github.com:dragosnicolae5555/myratingbud_front.git
